<div class="container d-flex justify-content-between flex-column p-4">
  <h1>Reactive-form</h1>
  <div>
    <form
      #formData="ngForm"
      [formGroup]="form"
      (ngSubmit)="onSubmit(formData.value)"
    >
      <div class="form-group p-1">
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          required
          minlength="4"
          class="form-control"
          formControlName="username"
        />
        <div
          *ngIf="
            form.get('username')?.dirty &&
            (form.get('username')?.dirty || form.get('username')?.touched)
          "
          class="alert alert-danger"
        >
          Please Enter Valid Username
          <div
            *ngIf="form.get('username')?.errors?.['required']"
            class="alert alert-danger"
          >
            Username is required.
          </div>
          <div
            *ngIf="form.get('username')?.errors?.['minlength']"
            class="alert alert-danger"
          >
            Username must be at least 4 characters long.
          </div>
          <div
            *ngIf="form.get('username')?.errors?.['cannotContainSpace']"
            class="alert alert-danger"
          >
            Username cannot cantain space
          </div>
        </div>
      </div>
      <div class="form-group p-1">
        <label for="password">Password</label>
        <input
          id="password"
          
          required
          minlength="4"
          class="form-control"
          formControlName="password"
        />
        <div
          *ngIf="
            form.get('password')?.invalid &&
            (form.get('password')?.dirty || form.get('password')?.touched)
          "
          class="alert alert-danger"
        >
          Only valid Password is required.
          <div
            *ngIf="form.get('password')?.errors?.['required']"
            class="alert alert-danger"
          >
            password is required.
          </div>
          <div
            *ngIf="form.get('password')?.errors?.['minlength']"
            class="alert alert-danger"
          >
            password must be at least 4 characters long.
          </div>
          <div
            *ngIf="form.get('password')?.errors?.['cannotContainSpace']"
            class="alert alert-danger"
          >
            Password cannot cantain space
          </div>
        </div>
      </div>
      <button class="btn btn-primary mx-2" type="submit">Submit</button>
    </form>
  </div>
</div>
