<div>
  <app-header></app-header>
  <!-- <app-zippy></app-zippy> -->
  <!-- <h1>My First Attribute Directive</h1> -->

  <!-- <h2>Pick a highlight color</h2>
  <div>
    <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
    <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
    <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
  </div>
  <p [appHighlight]="color">Highlight me!</p> -->
  <!-- <input type="text" [appInputFormat]="convert" /> -->
  <!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
      <app-favorite
        [isFavorit]="post.isFavorite"
        (change)="onFavoriteChange($event)"
      ></app-favorite>
      <app-likes
        [likesCount]="tweet.likesCount"
        [isActive]="tweet.isLiked"
      ></app-likes>
    </div>
    <div *ngSwitchCase="'Admin'"></div>
    <div *ngSwitchDefault></div>
  </div> -->

  <!-- <app-footer></app-footer> -->
</div>
